/* Estilos para los botones */
body
{
    background: url("../img/imAuto10.jpg") no-repeat, center top;
    background-size: cover;
    background-color: #446f94; /* Adjust the color to achieve desired greyscale effect */
    background-blend-mode: luminosity;
    font-size: 35px;
    font: bold;
    color: black;
}
.buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    margin-top: 20px;
  }
  
  .buttons button {
    margin: 0 10px; /* Margen entre los botones */
  }
  
  /* Estilos para el logo */
  .logo {
    position: relative;
    top: 20px;
    left: 20px;
    size: 10%;
    /* width: 100px; Ajusta el ancho según tus necesidades */
    /* height: 100px; Ajusta la altura según tus necesidades */
  }
  
  /* Estilos adicionales */
  body {
    margin: 0;
    padding: 0;
    width: 400px;
  }
  
  h1, p {
    text-align: center;
  }
  
  .background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    z-index: -1;
  }