@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    padding-top: 350px;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url("../img/imAuto11.jpg") no-repeat, center top;
    background-size: cover;
    height: 100vh;
}
.background-image
{
    height: 150px;    
    width: 200px;
    justify-content: right;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  .input-box {
    margin-bottom: 20px;
  }
  
  .input-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-box input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4285F4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buttons button:hover {
    background-color: #3367D6;
  }
  
  .buttons button[type="submit"] {
    background-color: #0F9D58;
  }
  