<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Login UNES</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style-login-unes.css')}}">
 <!--    <br>
    Código de Jinja, desde una lista mensajes
    {% with mensajes = get_flashed_messages() %}
         Boolean, solo queremos saber si hay mensajes
        {% if mensajes %}
            {%for msj in mensajes%}
             ECO, muy similar a como se usa blade
                <center><h4 style="color: red;">{{msj}}</h4></center>
            {%endfor%}
        {% endif %}
    {% endwith %}
    <br> -->
    <div class="flash-container">
        {% with mensajes = get_flashed_messages() %}
          {% if mensajes %}
            {% for msj in mensajes %}
              <center><h4 style="color: red;">{{ msj }}</h4></center>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
</head>
<body>
    <div class = "box">
        <span class ="borderLine"></span>
        <form action="/registro-personas-unes" method="GET">
            <h2>Inicio de sesión</h2>
            <div class="inputBox">
                <input type="text" required="required">
                <!--Éste input indica que el campo Username llenarse-->
                <span>E-mail del usuario</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <!--Éste input indica que la contraseña debe llenarse-->
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="#">Olvidé password</a>
                <a href="#">Registrar</a>
            </div>
            <input type="submit" value="Iniciar">
        </form>
    </div>
</body>
</html>