<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Sharing</title>
  <form action="/buscar-viaje" method="GET"></form>
  <link rel="stylesheet" href="../static/css/style-buscar-viaje.css">
</head>
<body>
  <br>
  <div class="title">La mejor forma de ahorrar y pedir un ride UNES</div>
  <br>

  <div class="input-boxes">
    <input type="text" placeholder="Desde">
    <input type="text" placeholder="Hasta">
    <input type="text" placeholder="Buscar">
  </div>
  
  <button class="buscar-button" formaction="/buscar-viaje" formmethod="POST" >Buscar</button>
</body>
</html>