<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Sharing</title>
  <form action="/buscar-viaje" method="GET"></form>
  <link rel="stylesheet" href="../static/css/style-buscar-viaje.css">
</head>
<body>
  <h1>La mejor forma de ahorrar y dar un ride</h1>
  
  <div class="imagen-fondo">
    <img src="../static/img/imLogoUnes.jpg" alt="Imagen de fondo" class="background-image">
  </div>
  
  <div class="input-boxes">
    <input type="text" placeholder="Desde">
    <input type="text" placeholder="Hasta">
    <input type="text" placeholder="Buscar">
  </div>
  
  <button class="buscar-button" formaction="/buscar-viaje" formmethod="POST" >Buscar</button>
</body>
</html>