<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Botones</title>
  <form action="/botones-chofer-o-pasajero" method="GET"></form>
    <link rel="stylesheet" href="../static/css/botones-ch-o-pa.css">
</head>
<body>
  <div class="box">
      <h2>Elige una opción:</h2>
      <div class="button-container" formaction="pantalla-principal" formmethod="POST">
        <button class="red-button"> Quiero ser conductor</button>
        <button class="blue-button">Quiero ser pasajero</button>
      </div>
      <div class="buttons"></div>
        <button input type="submit" formaction="/botones-chofer-o-pasajero">Guardar</button>
      </div>
      <div class="buttons">
      <a class="buttons" href=/pantalla-principal>siguiente</a>
      </div>
      <div class="buttons">
        <button type="button" formaction="/">Terminar sesion</button>
      </div>
</body>
</html>