<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Sharing</title>
  <form action="/pantalla-principal" method="GET"></form>
  <link rel="stylesheet" href="../static/css/pantalla-principal-style.css">
</head>

<body class="container" name="cuerpo">
    
  <h2>Ayuda a tu comunidad a ser más sustentable</h2>
  <center><p>El modelo de UNES 'car sharing' presenta una posible solución a problemas de movilidad en entornos urbanos y ayuda a reducir la contaminación.</p></center>
  
  <!-- <center><img src="index.avif" alt="Imagen de fondo" class="background-image"></center> -->
   
  <div class="buttons">
    <a class="buttons1" href=/buscar-viaje>Buscar viaje</a>
    <a class="buttons2" href=/publicar-viaje>Publicar viaje</a>
    <a class="buttons3" href=/registro-vehiculo-unes>Registrar vehículo</a>
    <a class="buttons4" href=/mis-viajes>Mis viajes</a>
<!--     <a class="buttons" href=/mis-mensajes>Mensajes</a> -->
    <a class="buttons5" href=/mi-perfil>Mi perfil</a>
  </div>
</body>
</html>