<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    Estas en el Menú !!
    <form action="/pantalla-principal" method="POST">
        <input type="submit">
        <a class="nav-link" href="/logout" method="GET">Cerrar sesión</a>
    </form>
    <form action="/download-report-pdf" method="GET">
        <button type="submit">Generar y Descargar PDF</button>
    </form>
</body>
</html>