<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Sharing</title>
  <form action="/pantalla-principal" method="GET"></form>
  <link rel="stylesheet" href="../static/css/pantalla-principal-style.css">
</head>
<body>
  <h1>Ayuda a tu comunidad a ser más sustentable</h1>
  <p>El modelo de "car sharing" presenta una solución a los problemas de movilidad de los entornos urbanos y, por supuesto, ayuda a reducir la contaminación.</p>
  
  <img src="../static/img/imLogoUnes2.jpg" alt="Imagen de fondo" class="background-image">
  
  <div class="buttons">
    <button>Buscar viaje</button  formaction="buscar-viaje" formmethod="POST">
    <button>Publicar viaje</button  formaction="publicar-viaje" formmethod="POST">
    <button>Mis viajes</button  formaction="mis-viajes" formmethod="POST">
    <button>Mensajes</button  formaction="mis-mensajes" formmethod="POST">
    <button>Perfil</button  formaction="mi-perfil" formmethod="POST">
  </div>
</body>
</html>