<p style="text-align: center;">*******************************</p>
<p style="text-align: center;">*&nbsp; &nbsp; &nbsp; <strong>&nbsp; Receta de Clinica S181&nbsp;</strong> &nbsp; &nbsp; &nbsp; *</p>
<p style="text-align: center;">*******************************</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>

<p>Paciente: {{txtNombrePaciente}}</p>
<p>Edad: {{txtEdad}} anios</p>
<p>Fecha: {{txtFecha}}</p>
<p>Peso: {{txtPeso}} kg</p>
<p>Altura: {{txtAltura}} metros</p>
<p>Temperatura: {{txtTemperatura}} &deg;C</p>
<p>Ritmo cardiaco: {{txtRitmo}}</p>
<p>Glucosa: {{txtGlucosa}} mg</p>
<p>Diagnostico: {{txtDiagnostico}}</p>
<p>Tratamiento: {{txtTratamiento}}</p>
<p>&nbsp;</p>
<p>Datos del medico:</p>
<p>Nombre {{txtNombreMedico}}</p>
<p>Cedula {{txtCedulaMedico}}</p>
<p>&nbsp;</p>