<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title>Registrar médicos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style2.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <br>
                <!-- Código de Jinja, desde una lista mensajes -->
        {% with mensajes = get_flashed_messages() %}
        <!-- Boolean, solo queremos saber si hay mensajes -->
            {% if mensajes %}
                {%for msj in mensajes%}
                <!-- ECO, muy similar a como se usa blade -->
                    <center><h2 style="color: red;">{{msj}}</h2></center>
                {%endfor%}
            {% endif %}
        {% endwith %}
        <br>
        <div class="title">Administración de médicos</div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Nombre completo</span>
                    <!--<span class="details">
                        <a href="#">Nombre completo</a>
                    </span>-->
                    <input type="text" name="txtNombreCompleto" placeholder="Apellido paterno, materno, nombre" required>
                </div>
                <div class="input-box">
                    <span class="details">RFC</span>
                    <input type="text" name="txtRFC" placeholder="Ingrese RFC Doctor" required>
                </div>
                <div class="input-box">
                    <span class="details">Cedula</span>
                    <input type="text" name="txtCedula" placeholder="Ingrese cédula o Registro" required>
                </div>
                <div class="input-box">
                    <span class="details">Correo electronico</span>
                    <input type="email" name="txtEmail" placeholder="doctor@ejemplo.com" required>
                </div>
                <div class="input-box">
                    <span class="details">Contraseña</span>
                    <input type="password" name="txtPassword" placeholder="Ingrese una nueva contraseña" required>
                </div>
                <!--<div class="input-box">
                    <span class="details">Confirmar contraseña</span>
                    <input type="text" placeholder="Ingrese una nueva contraseña" required>
                </div>-->
                <div class="input-box">
                    <span class="details">Rol usuario</span>
                    <input type="text" name="txtRol" placeholder="Administrador / Usuario" required>
                </div>
            </div>
            <!-- <div class="hidden">
                <input type="radio" name="gender" id="dot-1">
                <input type="radio" name="gender" id="dot-2">
                <input type="radio" name="gender" id="dot-3">
                    <span class="gender-title">Genero</span>
                <div class="hidden">
                    <label for="dot-1">
                        <span class="dot one"></span>
                             <span class="gender">Masculino</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                             <span class="gender">Femenino</span>
                    </label>
                    <label for="dot-3">
                        <span class="dot three"></span>
                             <span class="gender">Otro</span>
                    </label>
                </div>
            </div> -->
            <div class="button">
                <input type="submit" formaction="/admon-medicos-registrar" value="Registrar">
            </div>
            <div class="button">
                <input type="submit" formaction="/menu-principal" value="Regresar" formnovalidate>
            </div>
        </form>
    </div>

</body>

</html>