<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menú principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style3.css')}}">
</head>

<body>
    <div style="margin: 20px;" class="box">
        <span class="borderLine"></span>
        <form action="#" class="">
            <input type="submit" formaction="/admon-medicos-registrar" value="Registrar médico">
            <input type="submit" formaction="/registrar-perfil-paciente" value="Registrar paciente">
            <input type="submit" formaction="cita-exploracion.html" value="Registrar cita paciente">
        </form>
    </div>
    <div style="margin: 20px;" class="box">
        <span class="borderLine"></span>
        <form action="#" class="">
            <input type="submit" formaction="admon-medicos-actualizar.html" value="Actualizar médico">
            <input type="submit" formaction="/actualizar-perfil-paciente" value="Actualizar paciente">
            <input type="submit" formaction="cita-exploracion.html" value="Modificar cita paciente">
        </form>
    </div>
    <div style="margin: 20px;" class="box">
        <span class="borderLine"></span>
        <form action="#" class="">
            <input type="submit" formaction="admon-medicos-consultar.html" value="Consultar médico">
            <input type="submit" formaction="/consultar-perfil-paciente" value="Consultar paciente">
            <input type="submit" formaction="cita-exploracion.html" value="Consultar cita paciente">
            <input type="submit" formaction="calendario.html" value="Por calendario">
            <input type="submit" formaction="calendario.html" value="Agenda personal Doctor">
        </form>
    </div>
</body>

</html>