<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Menú principal</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style3.css')}}">
</head>

<body>
    <div style="margin: 20px;" class="box">
        <span class="borderLine"></span>
        <form action="#" class="">
            <input type="submit" formaction="admon-medicos-registrar.html" value="Registrar médicos">
            <input type="submit" formaction="expediente-paciente-registrar.html" value="Registrar pacientes">
            <input type="submit" formaction="cita-exploracion.html" value="Nueva cita paciente">
        </form>
    </div>
    <div style="margin: 20px;" class="box">
        <span class="borderLine"></span>
        <form action="#" class="">
            <input type="submit" formaction="admon-medicos-actualizar.html" value="Actualizar médicos">
            <input type="submit" formaction="expediente-paciente-actualizar.html" value="Actualizar pacientes">
            <input type="submit" formaction="cita-exploracion.html" value="Modificar cita paciente">
        </form>
    </div>
    <div style="margin: 20px;" class="box">
        <span class="borderLine"></span>
        <form action="#" class="">
            <input type="submit" formaction="admon-medicos-consultar.html" value="Consultar médicos">
            <input type="submit" formaction="expediente-paciente-consultar.html" value="Por nombre paciente">
            <input type="submit" formaction="expediente-paciente-consultar.html" value="Por número de expediente">
            <input type="submit" formaction="calendario.html" value="Por calendario">
            <input type="submit" formaction="calendario.html" value="Agenda personal Doctor">
        </form>
    </div>
</body>

</html>