<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style5.css')}}">

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <title>Registrar perfil paciente</title>
</head>

<body>
    <div class="container">
        <br>
        <!-- Código de Jinja, desde una lista mensajes -->
        {% with mensajes = get_flashed_messages() %}
        <!-- Boolean, solo queremos saber si hay mensajes -->
            {% if mensajes %}
                {%for msj in mensajes%}
                <!-- ECO, muy similar a como se usa blade -->
                    <center><h2 style="color: red;">{{msj}}</h2></center>
                {%endfor%}
            {% endif %}
        {% endwith %}
        <br>
        <header>Perfil del paciente</header>
        <form>
            <div class="details personal">
                <span class="title">Información personal</span>
                <div class="fields">

                    <div class="input-field">
                        <label>Nombre completo</label>
                        <input type="text" name="txtNombreCompleto" placeholder="Ingrese nombre del paciente" required>
                    </div>

                    <div class="input-field">
                        <label>Fecha de nacimiento</label>
                        <input type="date" name="dateFechaNacimiento" placeholder="Ingrese fecha de nacimiento paciente"
                            required>
                    </div>

                    <div class="input-field">
                        <label>Correo electrónico</label>
                        <input type="email" name="txtEmail" placeholder="nombre@ejemplo.com" required>
                    </div>

                    <div class="input-field">
                        <label>Teléfono</label>
                        <input type="text" name="txtTelefono" placeholder="Número de teléfono del paciente"
                            required>
                    </div>

                    <div class="input-field">
                        <label>Genero</label>
                        <select name="txtGenero" required>
                            <option disabled selected>Seleccione</option>
                            <option>Masculino</option>
                            <option>Femenino</option>
                            <option>Otro</option>
                        </select>
                    </div>

                    <div class="input-field">
                        <label>Ocupación</label>
                        <input type="text" name="txtOcupacion" placeholder="Ingrese la ocupación del paciente" required>
                    </div>

                    <div class="input-field">
                        <label>Tipo de sangre</label>
                        <input type="text" name="txtTipoSangre" placeholder="Tipo de sangre" required>
                    </div>

                    <div class="input-field">
                        <label>Peso</label>
                        <input type="text" name="txtPeso" placeholder="Peso del paciente" required>
                    </div>

                    <div class="input-field">
                        <label>Altura</label>
                        <input type="text" name="txtAltura" placeholder="Altura del paciente">
                    </div>
                </div>
            </div>
            <div class="details ID">
                <span class="title">Documentos de identificación</span>
                <div class="fields">

                    <div class="input-field">
                        <label>Tipo de identificación</label>
                        <input type="text" name="txtTipoIdentificacion" placeholder="Enter ID type" required>
                    </div>

                    <div class="input-field">
                        <label>Número de identificación</label>
                        <input type="number" name="numberNumeroIdentificacion" placeholder="Enter ID number" required>
                    </div>
                </div>
            </div>
            <div class="details address">
                <span class="title">Datos familiares</span>
                <div class="fields">

                    <div class="input-field-dos">
                        <label>Dirección del paciente</label>
                        <input type="text" name="txtDireccionPaciente"
                            placeholder="País, Estado, Municipio, Colonia, calle y número exterior, número interior"
                            required>
                    </div>

                    <div class="input-field">
                        <label>Persona de contacto</label>
                        <input type="text" name="txtPersonaContacto" placeholder="Nombre de un familiar" required>
                    </div>

                    <div class="input-field">
                        <label>Parentesco con el paciente</label>
                        <input type="text" name="txtParentescoPaciente" placeholder="Paretesco con el paciente">
                    </div>

                    <div class="input-field">
                        <label>Teléfono del familiar</label>
                        <input type="text" name="txtTelefonoFamiliar" placeholder="Teléfono del familiar" required>
                    </div>

                </div>
            </div>
            <div class="details family">
                <span class="title">Enfermedades de progresión y antecedentess</span>
                <div class="fields">

                    <div class="input-field">
                        <label>Enfermedades crónicas</label>
                        <input type="text" name="txtEnfermedadesCronicas" placeholder="Ingrese si cuenta con alguna" required>
                    </div>

                    <div class="input-field">
                        <label>Alergias</label>
                        <input type="text" name="txtAlergias" placeholder="Ingrese si cuenta con alguna" required>
                    </div>

                    <div class="input-field">
                        <label>Antecedentes familiares</label>
                        <input type="text" name="txtAntecedentesFamiliares" placeholder="Ingrese si existe algun antecedente familiar" required>
                    </div>
                </div>

                <span class="title">Médico familiar</span>
                <div class="fields">

                    <div class="input-field">
                        <label>Datos del Médico</label>
                        <input type="text" name="txtDatosMedico" placeholder="Nombre y cécula del Médico" required>
                    </div>

                </div>

                <div class="button">
                    <input type="submit" formaction="/menu-principal" value="Regresar" formnovalidate>
                </div>
                <div class="button">
                    <input type="submit" formaction="/registrar-perfil-paciente" formmethod="POST" value="Registrar">
                </div>
            </div>
        </form>
    </div>
</body>

</html>