<!DOCTYPE html>
<html>
<!-- <html lang="en"> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>CRUD Frutería 'La toronjita'</title>
</head>
<body>
    <!-- espacios de los huevones <br> -->
    <br>
    <br>
    <h1>Inventario de frutas</h1>
    <br>
        <div class="flashed-messages">
            <!-- Código de Jinja, desde una lista mensajes -->
            {% with mensajes = get_flashed_messages() %}
            <!-- Boolean, solo queremos saber si hay mensajes -->
                {% if mensajes %}
                    {%for msj in mensajes%}
                    <!-- ECO, muy similar a como se usa blade -->
                        <h3>{{msj}}</h3>
                    {%endfor%}
                {% endif %}
            {% endwith %}
        </div> 
    <br>
    <!-- Action pendiente -->
    <!-- ve a la ruta y ¿Por donde se va a enviar? por el método POST, se define -->
    <form action="/guardar" method="POST">
        <input type="text" name="txtFruta" placeholder=" Nombre fruta">
        <input type="text" name="txtTemporada" placeholder=" Temporada">
        <input type="number" name="txtPrecio" placeholder=" Precio">
        <input type="number" name="txtStock" placeholder=" Stock en kg">

        <!-- Para evitar que no tenga funcionalidad, agregamos el tipo de botón = submit -->
        <button class="guarda-consulta">
            <button type="submit">Guardar</button>
            <button type="submit">Consultar por nombre</button>
        </button>
    </form>
<br>
<br>
    <h1>Frutas en stock</h1>
    <table>
        <thead>
            <tr> <!-- para filas -->
                <td> Id: </td> <!-- para columnas -->
                <td> Fruta: </td>
                <td> Temporada: </td>
                <td> Precio: </td>
                <td> Stock: </td>
            </tr>
        </thead>
        <tbody>
            {%for fruta in frutasStock%}
                <tr>
                    <td>{{fruta.0}}</td>
                    <td>{{fruta.1}}</td>
                    <td>{{fruta.2}}</td>
                    <td>{{fruta.3}}</td>
                    <td>{{fruta.4}}</td>
                    <td>
                    <button class="Bottones button">
                        <a href=/editar/{{fruta.0}}> Editar </a>
                        <a href=/delete/{{fruta.0}}> Borrar </a>
                    </button>
                    </td>
                </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>