<!DOCTYPE html>
<!-- <html lang="en"> -->
<html></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <title>Editar flor</title>
</head>
<body>

    <h1>Flor a editar</h1>
    <br>
    <br>
    <form action="/actualizar/{{flor.0}}" method="POST">
        <input type="text" name="txtFlor" value="{{flor.1}}">
        <input type="number" name="txtStock" value="{{flor.2}}">
        <input type="number" name="txtPrecio" value="{{flor.3}}">


        <!-- Para evitar que no tenga funcionalidad, agregamos el tipo de botón = submit -->
        <button type="submit">Actualizar registro</button>
    </form>
</body>
</html>